@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

body {
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

/* colors */
:root {
    --darkg: #3a837d;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding: 1.2rem;
    z-index: 1;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-logo img {
    width: 17vw;
}

.navbar-menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 1.9vw;
}

.navbar-item {
    font-size: 0.9rem;
    cursor: pointer;
    font-size: 21px;
}

.navbar-cta {
    background-color: var(--darkg);
    padding: 0.5rem 1rem;
    border-radius: 9px;
    padding: 13px 12px;
    color: #fff;
    font-weight: bold;
}

.navbar-cta:hover {
    background-color: #397c77;
}

/* Home */
.homebox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-top: 5rem;
    gap: 4vw;
}

.homebox-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.home-heading {
    font-size: 4.2rem;
    font-weight: bolder;
}

.home-description {
    font-size: 1.5rem;
    font-weight: bold;
    color: #8e8e8e;
}

.homebutton {
    width: 20vw;
    border-radius: 45px;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

.span-green {
    color: var(--darkg);
}

.whatsapp-description {
    font-size: 1.2rem;
    font-weight: bold;
    color: #8e8e8e;
}

.home-ppls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    gap: 3.7rem;
}

.homebox-right img {
    width: 19rem;
    filter: drop-shadow(0 0 10rem rgb(87, 196, 187, 0.7));
}

.usecase-container {
    width: 100vw;
    background: linear-gradient(225deg, #06CA77 0%, #02937C 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2vw 6vw;
    gap: 1vw;
}

.usercase-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 2vw;
}

.usercase-cards {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 18rem;
    gap: 2.5vw;
    padding: 2.5vw 1.3vw;
    font-size: 1.1rem;
    border-radius: 13px;
    box-shadow: #140444 -15px 15px;
    margin: 1vw auto;
    /* justify-content: space-evenly;
    height: 17.2vw; */
}

.usercase-cards a {
    color: #4aa29e;
    font-weight: bold;
    font-size: 0.8rem;
}

.usercase-cards a img {
    width: 10px;
    margin-left: 70px;
}